.shippingBannerWrapper {
    width: 100%;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    overflow: hidden;
}

.textWrapper {
    width: auto;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textWrapper:hover {
    border-bottom: 1px solid white;

}

.textWrapper p {
    font-size: 0.8rem;
    color: white;
    letter-spacing: 0.02rem;
    letter-spacing: 0.02rem;
    white-space: nowrap;

}

.textWrapper span {
    font-size: 1rem;
    margin-left: 10px;
    letter-spacing: 0.02rem;
    white-space: nowrap;
}

@media only screen and (max-width: 640px) {
    .textWrapper p {
        width: 95%;
        font-size: clamp(0.7rem, 0.4999999999999999rem + 1.0000000000000004vw, 0.9rem) !important;
        color: white;
        letter-spacing: 0.02rem;
        letter-spacing: 0.02rem;
        white-space: normal;

    }

    .textWrapper span {
        font-size: clamp(0.7rem, 0.4999999999999999rem + 1.0000000000000004vw, 0.9rem) !important;
        margin-left: 10px;
        letter-spacing: 0.02rem;
        white-space: normal;
    }
}